*
{   box-sizing: border-box;
}

:root
{   --button-bg-color: blue;
    --button-brd-color: blue;
    --button-color: white;
    --head-bg-color: #00004f;
    --head-brd-color: black;
    --head-color: white;
    --text-color: black;
}

body
{   color: var(--text-color);
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

header
{   background: var(--head-bg-color);
    border: 1px solid var(--head-brd-color);
    color: var(--head-color);
}

header h1
{   margin: 0px auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80%;
}

.data-div
{   border: 1px solid var(--button-brd-color);
    border-radius: 2px;
    margin: 0px auto;
    margin-top: 25px;
    width: 80%;
}

.data-header
{   background: var(--button-bg-color);
    color: var(--button-color);
    padding: 5px;
}

/*                                      */
/* style for the output table           */
/*                                      */

table
{   border-collapse: collapse;
    margin: 0px auto;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 735px;
}

.tr-name, .tr-dest
{   width: 200px;
}

.tr-freq, .tr-eta, .tr-min
{   width: 100px;
}

.table-head
{   border-bottom: 1px solid black;
    text-align: left;
}

/*                                      */
/* style for the input form             */
/*                                      */

#train-form
{   padding: 25px;
}

input
{   font-size: 14px;
    margin-bottom: 10px;
    padding: 3px;
    width: 100%;
}

.button
{   background: var(--button-bg-color);
    border: 1px solid var(--button-brd-color);
    border-radius: 2px;
    color: var(--button-color);
    padding: 3px;
    width: auto;
}

.button:hover
{   background: var(--button-color);
    color: var(--button-brd-color);
}

/*                                      */
/* style specific to sticky footer      */
/*                                      */

body, html
{   height: 100%;
}

.wrapper
{   height: auto;
    margin-bottom: -58px;
    min-height: 100%;
}

.push
{   height: 58px;
}

footer
{   background: var(--head-bg-color);
    color: var(--head-color);
    font-size: 12px;
    margin-top: 25px;
    padding: 8px;
    padding-left: 10%;
    padding-right: 10%;
}

/*                                      */
/* media queries for responsive design  */
/*                                      */

@media screen and (max-width: 930px)
{   .data-div, header h1
    {   width: 95%;
    }

    footer
    {   text-align: center;
    }
}

@media screen and (max-width: 790px)
{   .data-div
    {   overflow: auto;
        margin-top: 5px;
        width: 100%;
    }

    table
    {   border-collapse: collapse;
        margin: 0px auto;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 735px;
    }
    
    .tr-name, .tr-dest
    {   width: 150px;
    }
    
    .tr-freq, .tr-eta, .tr-min
    {   width: 75px;
    }
    
    .table-head
    {   border-bottom: 1px solid black;
        text-align: left;
    }

    #train-form
    {   padding: 10px;
    }
}
